<div *ngIf="pokemon && specie" class="container">

  <div class="navigation-buttons">
    <a *ngIf="id > 1" href="{{ goPrev() }}" class="button previous-button">Anterior</a>
    <a *ngIf="id < 1025" href="{{ goNext() }}" class="button next-button">Siguiente</a>
  </div>

  <h1>{{ capitalizeFirstLetter(specie.name) }}</h1>

  <div class="detail-image image-container">
      <img src="{{ getImageByPokemon(pokemon) }}" alt="Frontal">
  </div>

  <h2>Tipo:</h2>
  <div class="detail-image image-container">
      <img *ngFor="let type of types" src="{{ type.image }}" alt="{{ type.name }}">
  </div>

  <h2>Descripción:</h2>
  <p>{{ specie.desc }}</p>

  <div class="detail-item">
      <h2>Datos:</h2>
      <p><strong>Altura:</strong> {{ pokemon.height }}</p>
      <p><strong>Peso:</strong> {{ pokemon.weight }}</p>
  </div>

  <div class="abilities-container">
      <h2>Habilidades:</h2>
      <div *ngFor="let ability of abilities" class="ability-item">
          <p><strong>{{ ability.name }}:</strong> {{ ability.desc }}</p>
      </div>
  </div>

  <a href="#" class="back-button">LISTA POKEMONS</a>
</div>
